# Printing Patterns

#### We require 5 things

- 1. Input : How Many rows
- 2. Two For loops : one for rows and one for columns
- 3. range(start,stop,step)
- 4. Print() or \n: empty print fn /New line 
- 5. end=" "

In [1]:
print("Hello")
print("Everyone")

Hello
Everyone

In [5]:
print("hello", end=" ")
print("Everyone")

hello Everyone

In [12]:
for row in range(1,6):  #row=3
    for column in range(row):   #Range(start,stop,step)  (0,3)  0,1,2
        print("#", end=" ")
    print()  #new line
#2nd for loop row=3
    #for

#
# #
# # #
# # # #
# # # # #

In [13]:
for row in range(1,6):    #no of rows=5,    6
    for column in range(1,6):   # 1,5
        print("#", end=" ")
    print() 
#first outer for loop row=1
#inner for loop

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [14]:
for row in range(1,6):    
    for column in range(1,2):   
        print("#", end=" ")
    print()
#outer for loop : row=1
#inner for loop : column(1,2)  #
#outer for loop : row=2
#inner for loop : column(1,2)

#
#
#
#
#

In [15]:
for row in range(1,6):      0
    for column in range(0,row):   
        print("*", end=" ")
    print()
#outer loop==> row=1
#inner for lop==>0,1   *

#outer loop==>row=2
#inner for lop==>0,2 : two times   * *
    
#outer loop==>row=3
#inner for lop==>0,3 ==>0,1,2  * * *
#outer loop
#inner for lop
#outer loop
#inner for lop

*
* *
* * *
* * * *
* * * * *

In [20]:
for row in range(1,6):  #5 rows
    print("Hello",end="$")
    print("\n")

Hello$

Hello$

Hello$

Hello$

Hello$

In [24]:
no_of_rows=int(input("Enter Number of Riws:"))  #5
for row in range(1,no_of_rows+1):
    print("+")
    print("\n")

Enter Number of Riws: 6

+


+


+


+


+


+

In [33]:
for row in range(4):  #0,4
    print("#",end=" ")
print()
for row in range(4):  #0,4
    print("#",end=" ")
print()
for row in range(4):  #0,4
    print("#",end=" ")
print()
for row in range(4):  #0,4
    print("#",end=" ")

# # # #
# # # #
# # # #
# # # #

In [34]:
#outer for loop and inner for loop
for row in range(4):
    for column in range(4):
        print("#",end=" ")
    print()
# outer for loop: row=1
# inner for loop: col=0,4==>0,1,2,3

# # # #
# # # #
# # # #
# # # #

In [35]:
for row in range(1):  #0,1
    print("#",end=" ")
print()
for row in range(2):  #0,2
    print("#",end=" ")
print()
for row in range(3):  #0,3
    print("#",end=" ")
print()
for row in range(4):  #0,4
    print("#",end=" ")

#
# #
# # #
# # # #

In [37]:
for row in range(1,5):  #0,4  : 4 rows
    for column in range(row):   #0,row
        print("#" , end=" ")
    print()
#outer ==> 1
#inner==>0,1   #
#outer ==> 2
#inner==>0,2  # #

#outer ==> 2
#inner==>0,2  2times  # #

#outer ==> 3
#inner==>0,3  3 times  # # #

#
# #
# # #
# # # #

In [41]:
for row in range(1,5):  #0,4  : 4 rows
        print("# " * row )
        print()
#row=1
# #
#row=2
#  # #

#

# #

# # #

# # # #

In [44]:
# # # #
# # #
# #
#
for row in range(1,11):
    for column in range(0,11-row):
        print("*",end=" ")
    print()


#outer  row=1
#inner col=0==>0,9   * * *


#outer  row=2
#inner col=0==>0,8  *


#outer  row=3
#inner col=0==>0,2   * *

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [49]:
no_of_rows=int(input("Enter No.of rows"))  #5
for row in range(1,no_of_rows+1):
    for column in range(0,no_of_rows+1-row):
        print("*",end=" ")
    print()


#outer row=1
#inner 0,5+1-1  (0,5)  * * * * *

#outer  row =2
#inner 0,5+1-2 ==>(0,4)  * * * *

#outer  row=3
#inner col(1,2)  *

#oter row=4
#inner col(1,1)

Enter No.of rows 5

* * * * *
* * * *
* * *
* *
*

In [ ]:
#Pattern print
# 1
# 1 2 
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5

While loop

In [1]:
for row in range(1,6):
    for col in range(1,row+1):
        print(col,end=" ")
    print()
#outer row=2
#inner col (1,3)  1 2

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
# 1 2 3 4 5
# 1 2 3 4 5 
# 1 2 3 4 5
# 1 2 3 4 5
# 1 2 3 4 5
for row in range(1,6):
    for col in range(1,6):
        print(col,end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [5]:
# 1 2 3 4 5
# 1 2 3 4 
# 1 2 3 
# 1 2 
# 1 
for row in range(1,6):
    for col in range(1,6-row+1):
        print(col,end=" ")
    print()

#outer row=2
#inner col(1,7-2)==>1,5

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1