- For Loop
- while Loop

Looping, repeating something

- string,list,tuple,set,dict===>iterable objects
- ordered -->string,list,tuple,dict
- unordered ==>set

In [1]:
a=1235   #we cant apply for loop on int

# For loop: limit

#### Print first 20 numbers

In [3]:
#syntax
#if condition:
#     statement
#syntax of for loop
#for variable in range(start,stop,step):   #slicing : l[start:stop:step]
     #statement

for num in range(1,21):  #stop value : extra
    print(num)
#first for loop num=1
# 1
# 2
# .
# .

#start value==>bydefault 0
#stop value ==>last 
#step value ==>1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [4]:
#initialization
list1=[]   #[1,2,3,4...20]
for num in range(1,21):  #stop value : extra
    # print(num)
    list1.append(num)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
#initialization
list1=[]   #[1,2,3,4...20]
for num in range(0,21,3):  #stop value : extra
    # print(num)
    list1.append(num)
print(list1)

[0, 3, 6, 9, 12, 15, 18]

#### Repeat "python" word 100 times

In [7]:
"python"*100

'pythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpython'

In [11]:
for num in range(1,101):
    print(num)
    print("python"*4)

#first for loop
#num=1
#1
#pythonpythonpythonpython

1
pythonpythonpythonpython
2
pythonpythonpythonpython
3
pythonpythonpythonpython
4
pythonpythonpythonpython
5
pythonpythonpythonpython
6
pythonpythonpythonpython
7
pythonpythonpythonpython
8
pythonpythonpythonpython
9
pythonpythonpythonpython
10
pythonpythonpythonpython
11
pythonpythonpythonpython
12
pythonpythonpythonpython
13
pythonpythonpythonpython
14
pythonpythonpythonpython
15
pythonpythonpythonpython
16
pythonpythonpythonpython
17
pythonpythonpythonpython
18
pythonpythonpythonpython
19
pythonpythonpythonpython
20
pythonpythonpythonpython
21
pythonpythonpythonpython
22
pythonpythonpythonpython
23
pythonpythonpythonpython
24
pythonpythonpythonpython
25
pythonpythonpythonpython
26
pythonpythonpythonpython
27
pythonpythonpythonpython
28
pythonpythonpythonpython
29
pythonpythonpythonpython
30
pythonpythonpythonpython
31
pythonpythonpythonpython
32
pythonpythonpythonpython
33
pythonpythonpythonpython
34
pythonpythonpythonpython
35
pythonpythonpythonpython
36
pythonpythonpythonpython
37
pythonpythonpythonpython
38
pythonpythonpythonpython
39
pythonpythonpythonpython
40
pythonpythonpythonpython
41
pythonpythonpythonpython
42
pythonpythonpythonpython
43
pythonpythonpythonpython
44
pythonpythonpythonpython
45
pythonpythonpythonpython
46
pythonpythonpythonpython
47
pythonpythonpythonpython
48
pythonpythonpythonpython
49
pythonpythonpythonpython
50
pythonpythonpythonpython
51
pythonpythonpythonpython
52
pythonpythonpythonpython
53
pythonpythonpythonpython
54
pythonpythonpythonpython
55
pythonpythonpythonpython
56
pythonpythonpythonpython
57
pythonpythonpythonpython
58
pythonpythonpythonpython
59
pythonpythonpythonpython
60
pythonpythonpythonpython
61
pythonpythonpythonpython
62
pythonpythonpythonpython
63
pythonpythonpythonpython
64
pythonpythonpythonpython
65
pythonpythonpythonpython
66
pythonpythonpythonpython
67
pythonpythonpythonpython
68
pythonpythonpythonpython
69
pythonpythonpythonpython
70
pythonpythonpythonpython
71
pythonpythonpythonpython
72
pythonpythonpythonpython
73
pythonpythonpythonpython
74
pythonpythonpythonpython
75
pythonpythonpythonpython
76
pythonpythonpythonpython
77
pythonpythonpythonpython
78
pythonpythonpythonpython
79
pythonpythonpythonpython
80
pythonpythonpythonpython
81
pythonpythonpythonpython
82
pythonpythonpythonpython
83
pythonpythonpythonpython
84
pythonpythonpythonpython
85
pythonpythonpythonpython
86
pythonpythonpythonpython
87
pythonpythonpythonpython
88
pythonpythonpythonpython
89
pythonpythonpythonpython
90
pythonpythonpythonpython
91
pythonpythonpythonpython
92
pythonpythonpythonpython
93
pythonpythonpythonpython
94
pythonpythonpythonpython
95
pythonpythonpythonpython
96
pythonpythonpythonpython
97
pythonpythonpythonpython
98
pythonpythonpythonpython
99
pythonpythonpythonpython
100
pythonpythonpythonpython

In [13]:
for data in range(0,10,2):
    print("data")
#result  data

data
data
data
data
data

### sum of first 10 numbers

In [14]:
1+2+3+4+5+6+7+8+9+10

55

In [16]:
#initialization
total=0  #6
for i in range(1,11):
    total=total+i
#1st for loop i=3
#total=total+i
#3+3
print(total)

55

In [17]:
total=0  #6
for i in range(1,11):
    # total=total+i
    total+=i

print(total)

55

In [19]:
a=0
a=a+10
a

10

In [20]:
a=0
a+=10
a

10

In [21]:
a=10
a=a-5
a

5

In [22]:
a=100
a-=5
a

95

In [23]:
total=0  #6
for i in range(1,1001):
    # total=total+i
    total+=i

print(total)

500500

In [8]:
range1=int(input("plz enter range:"))#100
total=0  #6
for i in range(1,range1+1):
    # total=total+i
    total+=i

print(total)

plz enter range: 101

5050

In [24]:
print("chetana")

chetana

In [25]:
#print=123

In [26]:
print

123

In [27]:
print(12+23)

TypeError: 'int' object is not callable

In [9]:
for i in range(10,0,-1):
    print(i)
#10,9,8,7,6,5,4,3,2,1

10
9
8
7
6
5
4
3
2
1

In [10]:
for i in range(10,0,-2):
    print(i)
#10,8,6,4,2

10
8
6
4
2

In [11]:
#multiplication of first 10 numbers
1*2*3*4*5*6*7*8*9*10
#multiple cursor==>ctrl+alt

3628800

In [12]:
#inintialization
mult=1  #6
for i in range(1,11):
    mult=mult*i
#i=3
#2*3
mult

3628800

In [13]:
range1=int(input("plz enter range"))
mult=1  #6
for i in range(1,range1+1):
    mult=mult*i
#i=3
#2*3
mult

plz enter range 50

30414093201713378043612608166064768844377641568960512000000000000

## calculate square and squareroot of first 10 numbers

In [14]:
square=[]
squareroot=[]
for i in range(1,11):
    square.append(i**2)
    squareroot.append(i**0.5)

print(square)
print(squareroot)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

In [19]:
import math
#from math import sqrt,pow
square=[]
squareroot=[]
for i in range(1,11):
    square.append(math.pow(i,2))
    squareroot.append(math.sqrt(i))

print(square)
print(squareroot)

[1.0, 4.0, 9.0, 16.0, 25.0, 36.0, 49.0, 64.0, 81.0, 100.0]
[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

### string,list,tuple,set,dict
Applying For loop on list

In [17]:
l=[1,3,5,7,98,5,2,8,9,0,6,6]
#square
for num in l:
    print(num*num)

1
9
25
49
9604
25
4
64
81
0
36
36

In [20]:
l=[1,3,5,7,98,5,2,8,9,0,6,6]
sqr=[]
#square
for num in l:
    sqr.append(num*num)
print(sqr)

[1, 9, 25, 49, 9604, 25, 4, 64, 81, 0, 36, 36]

### task

In [21]:
l=[1,3,5,7,98,5,2,8,9,0,6,6,0,1,2,3,5,9,8,6,7,17,13]
#seperate even and odd no
l1=[1,4,3,4,6,6,"data","Python","Science"]
#seperate text data

In [22]:
l=[1,3,5,7,98,5,2,8,9,0,6,6,0,1,2,3,5,9,8,6,7,17,13]
#seperate even and odd no
even=[]
odd=[]
for num in l:  #98
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print(even)
print(odd)

[98, 2, 8, 0, 6, 6, 0, 2, 8, 6]
[1, 3, 5, 7, 5, 9, 1, 3, 5, 9, 7, 17, 13]

In [23]:
l1=[1,4,3,4,6,6,"data","Python","Science"]
#seperate text data
for i in l1:
    if type(i)==str:
        print(i)

data
Python
Science

In [28]:
l1=[1,4,3,4,6,6,"data","Python","Science"]
for i in l1:  #1==>int
    if str(i).isalpha()==True:
        print(i)

data
Python
Science

In [25]:
"data".isalpha()

True

In [30]:
l1=[1,4,3,4,6,6,"data analysis","Python","Science"]
for i in l1:
    if type(i)==str:
        print(i)

data analysis
Python
Science

In [32]:
s="data analysis"
s.split(",")  #string to list

['data analysis']

### Homework

In [6]:
l=[-1,2,4,6,3,23,-5,-6,2,-5,-10]
#seperate positive numbers and negative number
positive=[]
negative=[]
for i in l:
    if i>0:
        positive.append(i)
    elif i==0:
        print("0 is present in list which is neutral")
    else:
        negative.append(i)
print(positive)
print(negative)

[2, 4, 6, 3, 23, 2]
[-1, -5, -6, -5, -10]

In [7]:
#factorial of a given number using for loop
#5
6*5*4*3*2*1

120

In [9]:
num=int(input("enter number:"))
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

enter number: 10

3628800

In [10]:
import math

In [11]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [14]:
# from math import factorial,sqrt
math.factorial(10)

3628800

### Table of a Number

In [17]:
#10
num=int(input("enter num:"))  #5
for i in range(1,11):
    print(num*i)
#1st for loop: 5*1=5
#2nd for loop: 5*2=10

enter num: 4

4
8
12
16
20
24
28
32
36
40

In [27]:
#5 x 1=5
#5 x 2=10
num=int(input("enter num:"))  #5
for i in range(1,11):
    print(num,"*",i,"=",num*i)

enter num: 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## f-string

- formatted string
- output format
- syntax : print(f"student name is {variable}"

In [24]:
name=input("plz enter your name:")
sirname=input("plz enter your sirname:")
print("student fullname name is:",name+" "+sirname)
print(f"student name is {name} {sirname}")

plz enter your name: chetana
plz enter your sirname: vasave

student fullname name is: chetana vasave
student name is chetana vasave

In [26]:
num=int(input("enter num:"))  #5
for i in range(1,11):
    # print(num,"*",i,"=",num*i)
    print(f"{num} * {i} = {num*i}")

enter num: 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

### counting element from list

In [29]:
l=[12,1,2,2,3,1,1,2,3,3]
l.count(1)

3

In [33]:
#using for loop
l=[12,1,2,2,3,1,1,2,3,3]
#initialization
count_of_element=0  #3
target_element=int(input("enter element:"))  #3
for item in l:  #3
    if item==target_element: #3==3
        count_of_element=count_of_element+1
print(count_of_element)

enter element: 12

1

#### counting character from string

In [37]:
s="data science"  #character by character
s.count("a")

2

In [38]:
s.count("data")

1

#### counting single char

In [39]:
count_of_char=0  #3
target_char=(input("enter element:"))  #3
for char in s:  #d
    if char==target_char: #3==3
        count_of_char=count_of_char+1
print(count_of_char)

enter element: data

0

#### counting single char +word

In [40]:
s="data science" #list
s.split()

['data', 'science']

In [52]:
s="data science"  #string to list
count_of_char=0  #2
target_char=(input("enter element:"))  #data
for char in s:  #a
    if char==target_char: #d==a
        count_of_char=count_of_char+1
else:
    s_list=s.split()   #["data","science"]
    for j in s_list:
        if j==target_char:
            count_of_char=count_of_char+1
            
print(count_of_char)

enter element: z

0

### Calculate Average

In [56]:
l=[1,2,4,6,67,4,4,56,7]
#sum,min,max,len
import statistics
print(dir(statistics))

['Counter', 'Decimal', 'Fraction', 'LinearRegression', 'NormalDist', 'StatisticsError', '_SQRT2', '__all__', '__annotations__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_coerce', '_convert', '_decimal_sqrt_of_frac', '_exact_ratio', '_fail_neg', '_float_sqrt_of_frac', '_integer_sqrt_of_frac_rto', '_isfinite', '_mean_stdev', '_normal_dist_inv_cdf', '_sqrt_bit_width', '_ss', '_sum', 'bisect_left', 'bisect_right', 'correlation', 'covariance', 'defaultdict', 'erf', 'exp', 'fabs', 'fmean', 'fsum', 'geometric_mean', 'groupby', 'harmonic_mean', 'hypot', 'linear_regression', 'log', 'math', 'mean', 'median', 'median_grouped', 'median_high', 'median_low', 'mode', 'mul', 'multimode', 'namedtuple', 'numbers', 'pstdev', 'pvariance', 'quantiles', 'random', 'reduce', 'repeat', 'sqrt', 'stdev', 'sys', 'tau', 'variance']

In [57]:
statistics.mean(l)

16.77777777777778

In [58]:
sum(l)

151

In [59]:
#avg=total/len
total=0
for i in l:
    total=total+i
avg=total/len(l)
avg

16.77777777777778

### Reverse each word in list

In [60]:
a="data"
a[::-1]

'atad'

In [62]:
"chetana"[::-1]

'anatehc'

In [61]:
l=["data","science","analysis"]
l[::-1]

['analysis', 'science', 'data']

In [64]:
l=["data","science","analysis"]
reverse=[]
for word in l:  #science
    r=word[::-1]  #rwdfghd
    reverse.append(r)
    
reverse

['atad', 'ecneics', 'sisylana']

### Task

In [70]:
# 1.find colors startswith letter "b"
colors=["red","blue","green","black"]   #startswith()
# 2. Find palindromes : nayan
list1=["python","radar","nayan","data","level"]

In [69]:
colors=["red","blue","green","black","bjhcj"]
for word in colors:
    if word.startswith("b"):
        print(word)

blue
black
bjhcj

In [71]:
"level"[::-1]

'level'

In [72]:
list1=["python","radar","nayan","data","level"]
palindromes=[]
for i in list1:  #radar
    if i ==i[::-1] : #radar==radar
        palindromes.append(i)
palindromes

['radar', 'nayan', 'level']

# Homework

In [1]:
#1.reverse digits in a given tuple
t=(123,345,678,213,567,890)
#2. find minimum and maximum number from list without using fn
l=[0,12,3,4,5,2,2,34,4,5566,7,7,89,9]

In [2]:
i=123
s="chetana"  #ordered: indexing ,slicing
s[::-1]

'anatehc'

In [3]:
i[::-1]

TypeError: 'int' object is not subscriptable

In [9]:
t=(123,345,678,213,567,890)  #int
reverse_digits=[]
for i in t:  #345
    integer=str(i)  #"345"
    reverse_int=integer[::-1]  #"543"
    reverse_digits.append(int(reverse_int))  #543
tuple(reverse_digits )
#098

(321, 543, 876, 312, 765, 98)

In [11]:
#2. find minimum and maximum number from list without using fn
l=[0,12,3,4,5,2,2,34,4,5566,7,7,89,9]
print(max(l))
print(min(l))

5566
0

In [22]:

l=eval(input("Please enter elements:"))
maximum=l[-1]  #9
minimum=l[-1]  #0
for num in l:   #3
    if num>maximum:  #34>12  true
        maximum=num #0
    if num<minimum:  #0<9  True
        minimum=num
        
print("maximum:",maximum)
print("mimimum:",minimum)

Please enter elements: [1,2,4,5]

maximum: 5
mimimum: 1