### Python iterpreted lang / compiler

In [1]:
#shift +enter
#heading===>cell select==>alt +m===>1,2,3,4==>shift +enter
print("Chetana")
print("Aditya")
print("gouri")

Chetana
Aditya
gouri

In [2]:
print("Chetana")
print(Aditya)
print("gouri")
#line by line
#if there is error in any line python interpreter will stop

Chetana

NameError: name 'Aditya' is not defined

# Python is iterpreted lang coz it runs code line by line

#c===>comiler based
#include <studio.h>
int main() {
    print("Chetana")
    print(Aditya)
    print("gouri")
    return 0;
}

#Tokens : individual unit in a program
- Keywords: predefined word
- variables/ indentifiers: data storing===>memory location name
- literals: a data given to a variable
   - e.g. a=90(numeric), name="chetana"(text), l=[1,2,3](list)
- operators(= : assignment operator),<,>,<=
- punctuators("" ,,:)

In [1]:
name=str(input("Enter your name:"))
print(name)
marks=float(input("enter your marks:"))
if marks>60:
    print("pass")
else: 
    print("fail")

Enter your name: chetana

chetana

enter your marks: 90

pass

In [2]:
a=90
b=78
print(a+b)

168

In [3]:
a=188
b=78
print(a+b)

266

# variables

# Rules for creating variables

- variable name : starts with letter (a-z/A-Z/ starts with _)
                                      
_name="chetana"
radius_of_circle=4.5
- in variable name ===>dont use spaces or dashes
- variable name : dont starts with number
   1a=45(wrong)
   a1=45(correct)
- we cant use keywords as a vaiable name
-  variable name are case sensitive

In [4]:
print("chetana")
#display

chetana

In [5]:
#print=90

In [1]:
print(45+67)

112

In [7]:
print

90

In [2]:
#kernel restart

In [3]:
NAME="chetana"
Name="gouri"
name="mayuri"

In [4]:
myvar="john"  #correct
my_var="john" #correct
_my_var="john" #correct
myVar="john"  #correct
MYVAR="john"   #correct
myvar2="john"  #correct
2myvar="john"  #incorrect
my-var="john"  #incorrect
my var="john"   #incorrect

SyntaxError: invalid decimal literal (1390083940.py, line 7)

we can name the variable in 3 ways
- 1. complex way
fdfdfcbcvbv=450
jyiunbmnb=78
trtfgfgff=fdfdfcbcvbv*jyiunbmnb
print(trtfgfgff)

- 2.easier way
x=450
y=78
z=x*y

- 3.understandable way
payment_per_day=450
days_of_working=78
total_salary=payment_per_day*days_of_working

### More on variables

In [5]:
a=1
b=1
c=1

In [6]:
a=b=c=1
name,sirname,age,course="chetana","vasave",29,"AI"

# Literals: a data which is given in a variable or constant

- 1. numeric/float
- 2. text /string literal
- 3. Boolean literals e.g. a=True
- 4. collection : to store multiple values
    - list: l=[1,2,3,"chetana"]
    - tuple: t=(1,2,5)
    - set : {1,2,3}
- 5. special literal
    - dict :key and value pair
    d={"name":"chetana"}

### Example 1

In [8]:
#calcualte area of circle(r=6)
#Required: formula===>pie *radius*radius
radius=6  #var1
pie=3.14  #var2
area_of_circle=pie*radius*radius
print(area_of_circle)

113.03999999999999

In [11]:
radius=6  #var1
pie=22/7  #var2
area_of_circle=pie*radius**2
print(area_of_circle)

113.14285714285714

In [10]:
22/7

3.142857142857143

In [13]:
#calculate area of triangle
base=4
height=2
area_of_triangle=1/2*base*height
print(area_of_triangle)

4.0