# Dictionary

- { key: value,key2:value2}
- mutable
- not allow duplictes(duplicate key not allowed)
- ordered: key===>index
   - As of python version 3.7 dict are ordered
   - in python 3.6 and earlier ,dict are unordered
- key: immutable element(string,int,tuple)
- value : immutable/mutable elements
- any chnages we will do ...we will use key

In [1]:
data={"name":"chetana","id":1,"course":["python","AI"]}
data

{'name': 'chetana', 'id': 1, 'course': ['python', 'AI']}

In [3]:
d1={1:"name",(1,23):"chetana"}

In [4]:
d2={[1,2,3]:"name"}

TypeError: unhashable type: 'list'

In [5]:
l=[4,5,6]
l[0]=4000
l

[4000, 5, 6]

# Changing Existing value of key

In [ ]:
#we can chane value using key name

In [6]:
data["name"]="gouri"  #replace
data

{'name': 'gouri', 'id': 1, 'course': ['python', 'AI']}

# adding new key value pair

In [7]:
data["city"]="Ratnagiri"
data

{'name': 'gouri', 'id': 1, 'course': ['python', 'AI'], 'city': 'Ratnagiri'}

In [10]:
data["Name"]="madhuri"
data

{'name': 'gouri',
 'id': 1,
 'course': ['python', 'AI'],
 'city': 'Ratnagiri',
 'Name': 'madhuri'}

# Removing element from dictionary

In [11]:
data

{'name': 'gouri',
 'id': 1,
 'course': ['python', 'AI'],
 'city': 'Ratnagiri',
 'Name': 'madhuri'}

#### del keyword

In [13]:

del data["Name"]
data

KeyError: 'Name'

In [14]:
l=[1,2,3,4]   #mutable
t=(1,2,3,4)   #immutable
s={4,10,7,8}   #mutable

In [15]:
del l[0]
l

[2, 3, 4]

In [16]:
del t[3]

TypeError: 'tuple' object doesn't support item deletion

In [17]:
del s[2]   #set unordered

TypeError: 'set' object doesn't support item deletion

In [18]:
del s   #set delete

In [19]:
s

NameError: name 's' is not defined

In [20]:
del l

In [21]:
l

NameError: name 'l' is not defined

In [22]:
l=[1,2,3,4]   #mutable
t=(1,2,3,4)   #immutable
s={4,10,7,8}   #mutable
d={"name":"chetana","id":1}

In [23]:
l.pop()   #last element

4

In [24]:
l

[1, 2, 3]

In [25]:
l.pop(0)
l

[2, 3]

In [26]:
s.pop()

8

In [27]:
s

{4, 7, 10}

In [29]:
d.pop("id")   #index==>key
d

{'name': 'chetana'}

popitem(): delete last inserted key value-pair

In [31]:
d["course"]="AI"
d

{'name': 'chetana', 'course': 'AI'}

In [32]:
d.popitem()
d

{'name': 'chetana'}

#### keys(): show only key in the format of list

In [33]:
data

{'name': 'gouri', 'id': 1, 'course': ['python', 'AI'], 'city': 'Ratnagiri'}

In [34]:
data.keys()

dict_keys(['name', 'id', 'course', 'city'])

#### values: it will show only values

In [37]:
data.values()

dict_values(['gouri', 1, ['python', 'AI'], 'Ratnagiri'])

#### items(): it will show key value-pair in the format of tuple

In [35]:
data.items()

dict_items([('name', 'gouri'), ('id', 1), ('course', ['python', 'AI']), ('city', 'Ratnagiri')])

# How to create dataframe by using list and dict

In [39]:
list1=[["Ram",25,"mumbai"],["Sita",28,"Delhi"],["John",23,"Pune"]]
import pandas

In [40]:
df1=pandas.DataFrame(list1,columns=["Name","Age","City"])

In [41]:
df1

   Name  Age    City
0   Ram   25  mumbai
1  Sita   28   Delhi
2  John   23    Pune

In [42]:
dict1={"Name":["Ram","Sita","John"],"Age":[25,28,23],"City":["mumbai","delhi","Pune"]}
df2=pandas.DataFrame(dict1)

In [43]:
df2

   Name  Age    City
0   Ram   25  mumbai
1  Sita   28   delhi
2  John   23    Pune