In [1]:
#addition
a=int(input("Enter no1:"))
b=int(input("Enter no1:"))
#print(a+b)
c=a+b
print(c)

Enter no1: 7
Enter no1: 8

15

## eval() : function: expressions

In [2]:
#addition
a=(input("Enter no1:"))  #str
b=(input("Enter no1:"))
#print(a+b)
c=a+b
print(c)

Enter no1: 4
Enter no1: 5

45

In [3]:
#addition
a=float(input("Enter no1:"))
b=float(input("Enter no1:"))
#print(a+b)
c=a+b
print(c)

Enter no1: 4.5
Enter no1: 8.6

13.1

In [4]:
#addition
a=eval(input("Enter no1:"))   #any data type 
b=eval(input("Enter no1:"))
#print(a+b)
c=a+b
print(c)

Enter no1: "chetana"
Enter no1: "vasave"

chetanavasave

In [5]:
#addition
a=eval(input("Enter no1:"))   #any data type 
b=eval(input("Enter no1:"))
#print(a+b)
c=a+b
print(c)

Enter no1: 78
Enter no1: 89

167

In [6]:
#addition
a=eval(input("Enter no1:"))   #any data type 
b=eval(input("Enter no1:"))
#print(a+b)
c=a+b
print(c)

Enter no1: [1,2,3]
Enter no1: [3,4,5]

[1, 2, 3, 3, 4, 5]

In [8]:
#addition
a=eval(input("Enter no1:"))   #any data type 
b=eval(input("Enter no1:"))
#print(a+b)
c=a|b
print(c)

Enter no1: {1,2,1,1}
Enter no1: {1,1,1,2}

{1, 2}

In [14]:
#To solve Mathematical expressions
#2*x+3*y-8*Z
expression="2*x+3*y-8*z"   #expression==>string format
x=1
y=7
z=8
eval(expression)

-41

In [12]:
x=1
y=7
z=8
2*x+3*y-8*z

-41

In [13]:
a=2
b=9
c=10
eval("a*a-3*b+8*c")

57

# Logical control statements

- only if
- if-else
- nested if
- if-elif

In [16]:
age=eval(input("Enter your age:"))
#syntax
#if condition:(after entering bydefault space(indentation))
#statement
if age>18:
    print("You are eligible")

Enter your age: 4

In [19]:
age=eval(input("Enter your age:"))
if age>18:
    print("You are eligible")
else:
    print("You are not eligible")

Enter your age: 4

You are not eligible

## Even and odd checker

In [21]:
#8%2===0
num=float(input("Enter number:"))  #8
if num % 2==0:
    print("even")
else:
    print("odd")

Enter number: 7

odd

#### Check if given num is divisible by 5 or not

In [23]:
num=eval(input("enter number:"))
if num%5==0:
    print("divisible by 5")
else:
    print("not divisible by 5")

enter number: 225

divisible by 5

### Check pass or fail

In [25]:
marks=float(input("enter marks:"))
if marks>45:
    print("Pass")
else:
    print("fail")

enter marks: 45

fail

### Larger between 2 numbers

In [26]:
n1=45
n2=50
if n1>n2:
    print(n1, "is greater")
else:
    print(n2,"is greater")

50 is greater

In [27]:
n1=45
n2=50
if n1<n2:
    print(n1, "is smaller")
else:
    print(n2,"is smaller")

45 is smaller

### if-elif: more than 2 conditions(independent)

### larger between 3 numbers

In [29]:
n1=int(input("enter num1:"))
n2=int(input("enter num2:"))
n3=int(input("enter num3:"))
if n1>n2 and n1>n3:   #F and T==>F
    print(n1,"n1 is greater")
elif n2>n1 and n2> n3:  #T and T=T
    print(n2,"n2 is greater")
else:
    print(n3,"n3 is greater")

enter num1: 7
enter num2: 9
enter num3: 2

9 n2 is greater

# Simple calculator Using if-elif

In [34]:
#0-9
num1=eval(input("Enter no1:"))  #int/float
num2=eval(input("Enter no2:"))   #int/float
operator=input("Enter operator(+,-,*,/):")  #str
if operator=="+":
    result=num1+num2
    # print(result)
elif operator=="-":
    result=num1-num2
    # print(result)
elif operator=="*":
    result=num1*num2
    # print(result)

elif operator=="/":
    result=num1/num2
    # print(result) 
else:
    print("Invalid Operator")
print("Answer is:")
print(result)

Enter no1: 7
Enter no2: 7
Enter operator(+,-,*,/): %

Invalid Operator
Answer is:
20

In [36]:
num1=eval(input("Enter no1:"))  #int/float
num2=eval(input("Enter no2:"))   #int/float
operator=input("Enter operator(+,-,*,/):")  #str
if operator=="+":
    result=num1+num2
    print("Addition is:",result)
elif operator=="-":
    result=num1-num2
    print("substraction is:",result)
elif operator=="*":
    result=num1*num2
    print("Multiplication is:",result)

elif operator=="/":
    result=num1/num2
    print("Division is:",result)
else:
    print("Invalid Operator")

Enter no1: 7
Enter no2: 5
Enter operator(+,-,*,/): *

Multiplication is: 35

#### Classify senior,teenager,child using age

In [41]:
age=int(input("enter your age:"))
if age>40:
    print("Senior")
elif age>18:
    print("Teenager")
else:
    print("child")

enter your age: 39

Teenager

# leap year checker

In [44]:
#2025: not leap year
#2024: leap year
year=int(input("enter year"))
if year%4==0:
    print("Leap year")
else:
    print("not leap year")

enter year 1800

Leap year

In [63]:
#year/4==>remainder :0
#year/100==> remainder not 0
#year/400==>remaider 0

year=int(input("enter year"))
if (year%4==0 and year % 100!=0) or (year%400==0):   #1800 and 2000
    print("Leap year")
else:
    print("not leap year")

enter year 2000

Leap year

In [62]:
2000%400#(T and F) or T  =>ForT==T

0

## Positive and Negative number checker

In [66]:
#positive>0
num=float(input("Enter num :"))
if num>0:
    print(num, "is positive")
else:
    print(num, "is Negative")

Enter num : 0

0.0 is Negative

In [67]:
num=float(input("Enter num :"))
if num>0:
    print(num, "is positive")
elif num==0:
    print("0 is neutral")
else:
    print(num, "is Negative")

Enter num : 0

0 is neutral

### in which range does the given number fall :1-10,11-20,21-30 or above 30

In [70]:
n=int(input())
if 1<=n<=10:
    print("in range of 1-10")
elif 11<=n<=20:
    print("in range of 11-20")
elif 21<=n<=30:
    print("in range of 21-30")
else:
    print("above 30")

 21

in range of 21-30

# Homework

In [1]:
#1. classify temperatue ranges: <=0:freezing, <10: cold,<30:warm >30:hot
#2. student grade checker
#90-100: A+ grade
#70-90: B+ grade
#60-70 : B grade
#50-60 : C+ grade
#40-50 : C grade
#<40: fail

#3. check two numbers are equl or not

In [4]:
#Independent conditions: if -elif
Temperature=float(input("Plz Enter Temp:"))
if Temperature<=0:
    print("freezing")
elif Temperature<=10:
    print("Cold")
elif Temperature<=30:
    print("warm")
else:
    print("Hot")

Plz Enter Temp: 35

Hot

# Student Grade Checker

In [6]:
name=input("plz enter your name")
marks=float(input("enter your marks:"))
if 90<=marks<=100:
    print("A+")
elif 70<=marks<90:
    print("B+")
elif 60<=marks<70:
    print("B")
elif 50<=marks<60:
    print("C+")
elif 40<=marks<50:
    print("C")
else:
    print("Fail")

plz enter your name 35
enter your marks: 35

Fail

In [8]:
num1=float(input("Enter num1:"))
num2=float(input("Enter num2:"))
if num1==num2:
    print("They are equal")
else:
    print("They are not eqaul")

Enter num1: 74
Enter num2: 85

They are not eqaul