- To do specific job
- 2 types of functions
  - Built-in fn
  - User defined fn
e.g. factorial

Built in functions list in python

- print()
- type()
- int()
- str()
- float()
- len()
- min()
- max()
- sum()
- sort()
- round()
- abs()
- dir()
- help()
- id()

In [85]:
#syntax of function
#def function_name(parameters):
      #statements,logics
#sqrt===>math==>readymade
import math
math.sqrt(64)

8.0

In [3]:
def squareroot(num):
    print(num**0.5)
#calling function===>name
squareroot(64)

8.0

### sum()

In [8]:
sum({45,56})  #built-in fn

101

In [10]:
l=[1,2,3,5,1,3,4,5]
total=0
for num in l:
    total=total+num
total

24

In [16]:
def addition(l):  #sum==>sequence data type==>list,tuple,set
    total=0  #45
    for num in l:
        total=total+num
    print(total)
    
addition({45,78,56})

179

In [14]:
addition((8,9,0,5,36))

58

In [15]:
sum((8,9,0,5,36))

58

In [17]:
#data cleaning: missing values/duplicates/extra spaces
#def data_cleaning(data):

# Arithmetic operations

In [18]:
def arithmetic_operation(num1,num2):
    addition=num1+num2
    sub=num1-num2
    mult=num1*num2
    div=num1/num2
    print(addition)
    print(sub)
    print(mult)
    print(div)
    print(addition,sub,mult,div)
arithmetic_operation(78,58)

136
20
4524
1.3448275862068966
136 20 4524 1.3448275862068966

In [19]:
arithmetic_operation(7,2)

9
5
14
3.5
9 5 14 3.5

In [20]:
min((4,5,8,9))

4

In [24]:
max({4,5,8,9})  #list,set,tuple

9

In [4]:
#without using fn
sequence=[1,5,700,800,6,81]
maximum=sequence[-1]
#inintialziation
for i in sequence:  #700
    #logic

      #81
    if i>maximum:   #700>81
        maximum=i
print(maximum)

800

In [19]:
#max
def maximum(sequence):
    sequence2=list(sequence)
    max1=sequence2[-1]   #78
    for num in sequence2:  #3rd num=9
        if num>max1:  #9>78
            max1=num
    print(max1)
maximum({4,78,9,56})

78

In [13]:
max({4,78,9,56})

78

In [20]:
def minimum(sequence):
    sequence2=list(sequence)
    min1=sequence2[-1]   #4
    for num in sequence2:  #4
        if num<min1:  #78<4
            min1=num  #4
    print(min1)
minimum({4,78,9,56})

4

# Task

In [22]:
#sqr
#cube
def sqr(num):
    print(num**2)
sqr(7)

49

In [23]:
sqr(9)

81

In [25]:
def cube(num):
    print(num**3)
cube(7)

343

#### Output display using return keyword

In [26]:
def cube(num):
    return num**3
cube(7)

343

#### Difference between print and return

In [27]:
print("Data Science")

Data Science

In [28]:
return "Data Science"
#return ==>outside

SyntaxError: 'return' outside function (1648353298.py, line 1)

In [36]:
#function inside onather fun==>return
def sqr(num):
    print(num**2)
sqr(8)

64

In [38]:
def cube(num):   #4
    print(sqr(num)*num) #16*num
    
cube(2)

4

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [39]:
def sqr(num):
    return num**2
sqr(8)

64

In [41]:
def cube(num):   #4
    print(sqr(num)*num) #16*num
    
cube(4)

64

In [46]:
def calculate_sales(price,qty):
    total=price*qty
    print("Your tatal bill is:",total)
fn=calculate_sales(500,5)
print(fn)

Your tatal bill is: 2500
None

In [45]:
def calculate_sales(price,qty):
    total=price*qty
    return "Your tatal bill is:",total
fn=calculate_sales(500,5)
print(fn)

('Your tatal bill is:', 2500)

#### Task

In [1]:
#fact function
#length(),countele5ment()

In [6]:
import math
#bult-in
math.factorial(10)   #variable,parameter,arguments

3628800

In [3]:
math.pow(5,3)

125.0

In [ ]:
#5*4*3*2*1
#total=0

In [7]:
#user defined
def fact(num):   #5
    f=1   #120
    for i in range(1,num+1):  #1,6==>1
        f=f*i
    return f
    
fact(10)

3628800

In [12]:
print(len("python"))
print(len([1,2,3,4]))
print(len((1,2,3,4,5,6)))
print(len({1,2,3,4,5,6,7,8}))
print(len({"name":"chetana","city":"Ratnagiri"}))
#iterable objects
#num=2345

6
4
6
8
2

In [14]:
def length(iterable):   #l=[1,2,3,4]
    l=0
    for i in iterable:  
        l=l+1
    return l
length("")

0

In [16]:
length([1,2,3,5,8])

5

In [18]:
print(length((1,2,3,5,8)))

5

In [20]:
length({1,2,3,5,8,7,9})

7

In [21]:
length({"name":"gouri","course":"DA"})

2

In [27]:
s="python"
l=[1,2,3,4,2]
t=(1,2,3,4,5,6)
s1={1,2,3,4,5,6,7,8,8}
d={"name":"chetana","city":"Ratnagiri"}
s.count("p")

1

In [28]:
l.count(2)

2

In [24]:
t.count(10)

0

In [25]:
s1.count(8)  #reason: unique

AttributeError: 'set' object has no attribute 'count'

In [29]:
d.count("name")   #unique

AttributeError: 'dict' object has no attribute 'count'

In [48]:
def countelement(element):  #2
    c=0
    iterable=eval(input("Enter iterable")) #"chetana"
    for i in iterable:  #c
        
        if i==element:
            c=c+1
    return c
countelement("c")

Enter iterable "chetana"

1

In [49]:
#abs===>absolute value
#round===>roundup

In [50]:
#inbuilt
abs(-78)

78

In [51]:
abs(78)

78

In [53]:
abs(-45.6)

45.6

In [70]:
#user Defined
def absolute(num):   #75.8
    str_num=str(num)  #"75.8"
    print(str_num)
    if str_num[0]=="-":
        return int(str_num[1:])
    else:
        return num #"789"
        
    
absolute(-75)

-75

75

In [62]:
abs(78.3)

78.3

In [74]:
def my_abs(num):
    if num<0:
        return -num   #--45
    else:
        return num
my_abs(-78.9)

78.9

In [75]:
#built in 
round(78)

78

In [77]:
round(78.3)  #78
#decimal>0.5
#78+1=79

78

In [80]:
round(78.55)

79

In [81]:
#extract decimal_part
num=123.6   #float
#type casting
num-int(num)
#123.6-123

0.5999999999999943

In [84]:
def round_up(num):  #123.5
    decimal_part=num-int(num)
    if decimal_part>0.5:
        return int(num)+1  #123+1
    else:
        return int(num)
round_up(123.8)

124

In [86]:
#data analysis
#data cleaning ==>extra spaces,upper,missingvalues,duplicats remove
# def data_cleaning(data):
#     remove_extra_spaces=trim(data)
#     upper_case=upper(remove_extra_spaces)
#     missingavlues=fillna(upper_case).mean()
#     remove_duplicates=duplicated(missingavlues)
# data_cleaning(customer_data)
#10 datasets

In [87]:
a=1234
b="python"

In [88]:
#memory location
id(a)

1401029557520

In [89]:
id(b)

1400963937584

In [90]:
id(round_up)

1400977903264

In [91]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [94]:
#fibonacci series
#0,1,1,2,3,5,8,13....
#uisng for loop
fib=[0,1]   #inintialization
for i in range(0,8):  #0,1,2,3,4,5,6,7
    
    next_term=fib[-1]+fib[-2]   #2+1  =3
    fib.append(next_term)
print(fib)
#first 10 num in fibonaaci

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [2]:
#write function to print Fibonacci
def fibonacci(n):   #10
    fib=[0,1]   #inintialization
    for i in range(0,n-2):  #0,8
        next_term=fib[-1]+fib[-2]   #2+1  =3
        fib.append(next_term)
    return fib
fibonacci(20)

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181]

# 4 Types of functions

##### 1. fun with parameter and with return

In [4]:
#addition
def add(a,b,c,d):
    return a+b+c+d
add(1,4,7,8)

20

In [5]:
def add(a,b,c,d=40):
    return a+b+c+d
add(1,4,7)

52

In [6]:
def add(a,b,c,d):
    return a+b+c+d
add(1,4,7)

TypeError: add() missing 1 required positional argument: 'd'

In [7]:
def add(a,b,c,d=40):
    return a+b+c+d
add(1,4,7,5)

17

### 2. fun with parameter and without return

In [9]:
def adding_10(n):   #parameter pass==>n
    print(n+10)

adding_10(2)

12

#### 3. fun without parameter and with return

In [12]:
#multiplication of 3 numbers
def mult():
    # a=5
    # b=8
    # c=2
    a=float(input("Enter num1:"))
    b=float(input("Enter num2:"))
    c=float(input("Enter num3:"))
    return a*b*c
mult()

Enter num1: 6
Enter num2: 9
Enter num3: 0

0.0

##### 4. fun without parameter and without return

In [13]:
def mult():
    # a=5
    # b=8
    # c=2
    a=float(input("Enter num1:"))
    b=float(input("Enter num2:"))
    c=float(input("Enter num3:"))
    print(a*b*c)
mult()

Enter num1: 4
Enter num2: 5
Enter num3: 5

100.0

# non keyword arguments and keyword arguments

In [15]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

from math import *

In [19]:
#non keyword arguments   *variablename
#Allows a fn to accept any numbers of positional arguments
#10 numbers addition
def total(*l):  #collected as a tuple
    t=0
    for num in l:
        t=t+num
    return t
        
total(1,2,3,4,5,6,45,6,3,3)

78

In [22]:
#keyword arguments   **variablename
#Allows a fn to accept any number of keyword argumnents
#collected as a dictionary
def my_func(**details):  #dict   def my_func(name,city,course,age)
    for key ,value in details.items():
        print(f"{key}={value}")
my_func(name="chetana",city="Pune",course="AI",age=29)

name=chetana
city=Pune
course=AI
age=29

# Scope Of variables

In [23]:
#limit

### Local scope

In [24]:
#variable scope inside only in function
def add(p,q):  #with parameter
    l=10   #a,b,c: Local variables
    return p+q+l
add(5,6)

21

In [25]:
print(p)

NameError: name 'p' is not defined

In [26]:
print(l)

NameError: name 'l' is not defined

In [27]:
v=55   #global variable
def add(m):
    return v+m
add(25)

80

In [28]:
print(m)  #local var

NameError: name 'm' is not defined

In [29]:
print(v)

55

# Nested Function

In [36]:
g=40   #global: Outside fun
def arithmetic(n,h):  #n,h: local variable  main fun
    print(n,h,g)
    def inner_fn(e,r):   #local
        return e+r+g+n+h
    return inner_fn(4,5)   #bottom to top

In [35]:
arithmetic(2,3)

2 3 40

54

In [37]:
#step 1: n=2,h=3
#step 2: 2,3,40
#step 3: bottom:last line: inner_fun call

In [39]:
def arithmetic(n,h):  #n,h: local variable  main fun
    print(n,h,g)
    def inner_fn(e,r):   #local
        return e+r+g+n+h
    def inner2(a,b):
        return a+b+n+h+g
    return inner_fn(4,5) ,inner2(1,2)
arithmetic(5,6)

5 6 40

(60, 54)

In [46]:
def make_tea():
    print("start making tea")
    def boil_water():
        return "Boiling water"
    def add_tea_powder():
        return "adding tea powder"
    def add_milk_suger():
        return "adding milk and suger"
    return boil_water(),add_tea_powder(),add_milk_suger()

make_tea()  
#in one function we can write only one return
#we can use multiple print

start making tea

('Boiling water', 'adding tea powder', 'adding milk and suger')

In [45]:
def add_mult(a,b):
      #first return
    return a*b,a+b
add_mult(2,5)

(10, 7)

In [51]:
def make_tea():
    print("start making tea")
    def boil_water():
        return "Boiling water"
        
    def add_tea_powder():
        return "adding tea powder"
    def add_milk_suger():
        def tea_ready():
            print("Tea is ready!")
        print("adding milk and suger")
        return tea_ready()
    print(boil_water())
    print(add_tea_powder())
    print(add_milk_suger())
make_tea()

start making tea
Boiling water
adding tea powder
adding milk and suger
Tea is ready!
None

In [ ]:
#lambda fun
#list comprehension
#one liner of python