# Advanced Python Topics
One Liner of python
- List comprehension
- Lambda

In [1]:
#Syntax of List Comprehension
#[expression(result) for item in sequence]
#Syntax of List Comprehension with condition
#[expression(result) for item in sequence if condition]

In [3]:
#sqaure of first 100 numbers
l=[]
for i in range(1,101):
    l.append(i**2)
print(l)
#4 lines code

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [5]:
#using list comprehension
print([i**2 for i in range(1,101)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

## With condition

In [7]:
#print all even numbers from 1 to 100
even=[]
for num in range(1,101):
    if num%2==0:
        even.append(num)
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [9]:
#using list comp
print([num for num in range(1,101) if num%2==0])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

## Task

In [10]:
# 1. Convert all word to uppercase
# l=["Data","python","science","analysis"]
# 2.Extract all digits from a string
# text="abc12334"
# 3.Create a list of tuple: (number,square)
# (2,4)
# 4.Replace negative numbers with 0
# l=[1,-2,4,-5,-7]

In [11]:
l=["Data","python","science","analysis"]
l_upper=[]
for word in l:
    l_upper.append(word.upper())
print(l_upper)

['DATA', 'PYTHON', 'SCIENCE', 'ANALYSIS']

In [12]:
[word.upper() for word in l]

['DATA', 'PYTHON', 'SCIENCE', 'ANALYSIS']

In [14]:
 #2.Extract all digits from a string
text="abc12334"
for char in text:
    if char.isdigit():
        print(char)

1
2
3
3
4

In [16]:
[char for char in text if char.isdigit()]

['1', '2', '3', '3', '4']

In [17]:
#3.Create a list of tuple: (number,square)
# (2,4)
l=[]  #[(2,4),(3,9),...]
for num in range(1,11):
    l.append((num,num**2))
l

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [19]:
[(num,num**2) for num in range(1,21) if num%2==0]

[(2, 4),
 (4, 16),
 (6, 36),
 (8, 64),
 (10, 100),
 (12, 144),
 (14, 196),
 (16, 256),
 (18, 324),
 (20, 400)]

In [21]:
#4.Replace negative numbers with 0
l=[1,-2,4,-5,-7]
l1=[]
for num in l:
    if num>=0:
        l1.append(num)
    else:
        l1.append(0)
l1

[1, 0, 4, 0, 0]

In [22]:
print([num if num>=0 else 0 for num in l])

[1, 0, 4, 0, 0]